<!-- <ul>
  <li *ngFor="let user of mod1.users | async">
    {{ user.name }}. {{ user.email }}. {{ user.address | json }}
  </li>
</ul> -->

<div>
  <input type="text" [(ngModel)]="searchStr" name="search" />
  <br />
  <label for="search">Поиск по таблице</label>
</div>
<br />
<table style="width: auto">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Почта</th>
      <th>Адрес</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of mod1.users | async | search: searchStr">
      <td>{{ user.name }} ({{ user.username }})</td>
      <td>{{ user.email }}</td>
      <td>
        <pre>{{ user.address | json }}</pre>
      </td>
    </tr>
  </tbody>
</table>
